<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Column-Right-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,232}</string>
                <key>spriteSourceSize</key>
                <string>{25,232}</string>
                <key>textureRect</key>
                <string>{{0,0},{25,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Column-Right-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,232}</string>
                <key>spriteSourceSize</key>
                <string>{25,232}</string>
                <key>textureRect</key>
                <string>{{25,0},{25,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Column-Right-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,232}</string>
                <key>spriteSourceSize</key>
                <string>{25,232}</string>
                <key>textureRect</key>
                <string>{{50,0},{25,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Column-Right-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,232}</string>
                <key>spriteSourceSize</key>
                <string>{25,232}</string>
                <key>textureRect</key>
                <string>{{75,0},{25,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Column-Right-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,232}</string>
                <key>spriteSourceSize</key>
                <string>{25,232}</string>
                <key>textureRect</key>
                <string>{{100,0},{25,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Column-Right-Hit.png</string>
            <key>size</key>
            <string>{125,232}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a10188526bc9bb0b614a6804ef2f99b:46022279a3848d7fbd787b2290ffa532:7f74556caeda38b821c78f254b844faf$</string>
            <key>textureFileName</key>
            <string>Column-Right-Hit.png</string>
        </dict>
    </dict>
</plist>
