<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Column-Up-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,16}</string>
                <key>spriteSourceSize</key>
                <string>{177,16}</string>
                <key>textureRect</key>
                <string>{{0,0},{177,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Column-Up-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,16}</string>
                <key>spriteSourceSize</key>
                <string>{177,16}</string>
                <key>textureRect</key>
                <string>{{177,0},{177,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Column-Up-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,16}</string>
                <key>spriteSourceSize</key>
                <string>{177,16}</string>
                <key>textureRect</key>
                <string>{{354,0},{177,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Column-Up-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,16}</string>
                <key>spriteSourceSize</key>
                <string>{177,16}</string>
                <key>textureRect</key>
                <string>{{531,0},{177,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Column-Up-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,16}</string>
                <key>spriteSourceSize</key>
                <string>{177,16}</string>
                <key>textureRect</key>
                <string>{{708,0},{177,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Column-Up-Hit.png</string>
            <key>size</key>
            <string>{885,16}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eba332c19fe07e9244cf51c31678e1a5:756783e1d7f94e1b4a434a759d11f081:4d1539705928ac42ff07340196f94aed$</string>
            <key>textureFileName</key>
            <string>Column-Up-Hit.png</string>
        </dict>
    </dict>
</plist>
