<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Door-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,8}</string>
                <key>spriteSourceSize</key>
                <string>{24,8}</string>
                <key>textureRect</key>
                <string>{{0,0},{24,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Door-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,8}</string>
                <key>spriteSourceSize</key>
                <string>{24,8}</string>
                <key>textureRect</key>
                <string>{{24,0},{24,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Door-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,8}</string>
                <key>spriteSourceSize</key>
                <string>{24,8}</string>
                <key>textureRect</key>
                <string>{{48,0},{24,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Door-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,8}</string>
                <key>spriteSourceSize</key>
                <string>{24,8}</string>
                <key>textureRect</key>
                <string>{{72,0},{24,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Door-Anim.png</string>
            <key>size</key>
            <string>{96,8}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f5401d0aefff08501f6c8de5391752bb:90e5823fc75bc287e36844f37df72d50:aeabee516ec641f275e53c9c098ce47c$</string>
            <key>textureFileName</key>
            <string>Door-Anim.png</string>
        </dict>
    </dict>
</plist>
