<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BreakDoor-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,24}</string>
                <key>spriteSourceSize</key>
                <string>{8,24}</string>
                <key>textureRect</key>
                <string>{{0,0},{8,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BreakDoor-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,24}</string>
                <key>spriteSourceSize</key>
                <string>{8,24}</string>
                <key>textureRect</key>
                <string>{{0,24},{8,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BreakDoor-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,24}</string>
                <key>spriteSourceSize</key>
                <string>{8,24}</string>
                <key>textureRect</key>
                <string>{{0,48},{8,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Door-Break.png</string>
            <key>size</key>
            <string>{8,72}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4b1f8110da7ca08ef2cc9efd04260a0:cfdb828f3f8ffa4c4bbffa3beb11a0e1:e994cbbd383fdbc122a42a79cb382268$</string>
            <key>textureFileName</key>
            <string>Door-Break.png</string>
        </dict>
    </dict>
</plist>
