<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Attack-To-Idle-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,8}</string>
                <key>spriteSourceSize</key>
                <string>{32,8}</string>
                <key>textureRect</key>
                <string>{{0,0},{32,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack-To-Idle-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,8}</string>
                <key>spriteSourceSize</key>
                <string>{32,8}</string>
                <key>textureRect</key>
                <string>{{32,0},{32,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack-To-Idle-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,8}</string>
                <key>spriteSourceSize</key>
                <string>{32,8}</string>
                <key>textureRect</key>
                <string>{{64,0},{32,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack-To-Idle-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,8}</string>
                <key>spriteSourceSize</key>
                <string>{32,8}</string>
                <key>textureRect</key>
                <string>{{96,0},{32,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack-To-Idle-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,8}</string>
                <key>spriteSourceSize</key>
                <string>{32,8}</string>
                <key>textureRect</key>
                <string>{{128,0},{32,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack-To-Idle-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,8}</string>
                <key>spriteSourceSize</key>
                <string>{32,8}</string>
                <key>textureRect</key>
                <string>{{160,0},{32,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack-To-Idle-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,8}</string>
                <key>spriteSourceSize</key>
                <string>{32,8}</string>
                <key>textureRect</key>
                <string>{{192,0},{32,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Attack-To-Idle.png</string>
            <key>size</key>
            <string>{224,8}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ac998953e02681029d4c1d4ddb7ca82:577faf28ca7e1c3409f02869f80b0068:ba4f3fcf743231c285028807d5120499$</string>
            <key>textureFileName</key>
            <string>Attack-To-Idle.png</string>
        </dict>
    </dict>
</plist>
