<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Expand-To-Idle-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,8}</string>
                <key>spriteSourceSize</key>
                <string>{48,8}</string>
                <key>textureRect</key>
                <string>{{0,0},{48,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Expand-To-Idle-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,8}</string>
                <key>spriteSourceSize</key>
                <string>{48,8}</string>
                <key>textureRect</key>
                <string>{{48,0},{48,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Expand-To-Idle-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,8}</string>
                <key>spriteSourceSize</key>
                <string>{48,8}</string>
                <key>textureRect</key>
                <string>{{96,0},{48,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Expand-To-Idle-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,8}</string>
                <key>spriteSourceSize</key>
                <string>{48,8}</string>
                <key>textureRect</key>
                <string>{{144,0},{48,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Expand-To-Idle.png</string>
            <key>size</key>
            <string>{192,8}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:19e22e8425e1407f3a0cd42ca920e6e9:6b03600fe0cf3d58312c74fed1a26ef8:dbdcac8eae986a26784306b43f844bc5$</string>
            <key>textureFileName</key>
            <string>Expand-To-Idle.png</string>
        </dict>
    </dict>
</plist>
