<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Idle-To-Attack-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,8}</string>
                <key>spriteSourceSize</key>
                <string>{32,8}</string>
                <key>textureRect</key>
                <string>{{0,0},{32,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle-To-Attack-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,8}</string>
                <key>spriteSourceSize</key>
                <string>{32,8}</string>
                <key>textureRect</key>
                <string>{{32,0},{32,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle-To-Attack-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,8}</string>
                <key>spriteSourceSize</key>
                <string>{32,8}</string>
                <key>textureRect</key>
                <string>{{64,0},{32,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle-To-Attack-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,8}</string>
                <key>spriteSourceSize</key>
                <string>{32,8}</string>
                <key>textureRect</key>
                <string>{{96,0},{32,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle-To-Attack-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,8}</string>
                <key>spriteSourceSize</key>
                <string>{32,8}</string>
                <key>textureRect</key>
                <string>{{128,0},{32,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle-To-Attack-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,8}</string>
                <key>spriteSourceSize</key>
                <string>{32,8}</string>
                <key>textureRect</key>
                <string>{{160,0},{32,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle-To-Attack-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,8}</string>
                <key>spriteSourceSize</key>
                <string>{32,8}</string>
                <key>textureRect</key>
                <string>{{192,0},{32,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Idle-To-Attack.png</string>
            <key>size</key>
            <string>{224,8}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a90860339b4cf37155b3d2a81414f6a8:29fb85d594712e33a0c0697b7d1061a6:aee9e88f9e492bb98362bfdbafb8ade4$</string>
            <key>textureFileName</key>
            <string>Idle-To-Attack.png</string>
        </dict>
    </dict>
</plist>
