<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Vaus-Explode-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,24}</string>
                <key>spriteSourceSize</key>
                <string>{48,24}</string>
                <key>textureRect</key>
                <string>{{0,0},{48,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Vaus-Explode-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,24}</string>
                <key>spriteSourceSize</key>
                <string>{48,24}</string>
                <key>textureRect</key>
                <string>{{48,0},{48,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Vaus-Explode-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,24}</string>
                <key>spriteSourceSize</key>
                <string>{48,24}</string>
                <key>textureRect</key>
                <string>{{96,0},{48,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Vaus-Explode.png</string>
            <key>size</key>
            <string>{144,24}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca0fe8e917e40eca02824e444872c8e7:3318f47aa9d601b39c3eb9f972623a79:df972d8ad9d531f1520c1dfe92ba2684$</string>
            <key>textureFileName</key>
            <string>Vaus-Explode.png</string>
        </dict>
    </dict>
</plist>
